MARI_EXAMPLE_MODE=fake
GDRIVE_ACCESS_TOKEN=drive-example
GDRIVE_FOLDER_ID=
GDRIVE_CALLBACK_URL=https://knowledge.example/webhooks/google-drive
GDRIVE_CHANNEL_ID=example-channel
GDRIVE_CHANNEL_TOKEN=example-channel-token
GDRIVE_NOTIFICATION_HEADERS_JSON='{"X-Goog-Channel-ID":"example-channel","X-Goog-Channel-Token":"example-channel-token","X-Goog-Resource-ID":"example-resource","X-Goog-Resource-State":"change","X-Goog-Message-Number":"1"}'
